@media only screen and (max-width: 400px) {
    .title h1
    {
        font-size: 15px;
    }
    .title p
    {
        font-size: 10px;
    }
    input
    {
        font-size: 10px;
        width: auto;
    }
    form > div label, form > div p 
    {
        font-size: 7px;
    }
    input[type="date"]
    {
        font-size: 5px;
    }
    input[type="submit"]
    {
        font-size: 10px;
        padding: 10px 14px;
    }
    .join
    {
        padding: 8px 10px;
        font-size: 7px;
    }
    select
    {
        padding: 8px 10px;
        font-size: 10px;
    }
    .sceau
    {
        width: 25px;
        height: 25px;
        margin-right: 30%;
        margin-left: 70%;
    }
}

@media only screen and (max-width: 600px)  and (min-width: 400px){
    .title h1
    {
        font-size: 25px;
    }
    .title p
    {
        font-size: 15px;
    }
    input
    {
        font-size: 15px;
        width: auto;
    }
    form > div label, form > div p 
    {
        font-size: 10px;
    }
    input[type="date"]
    {
        font-size: 10px;
    }
    input[type="submit"]
    {
        font-size: 15px;
        padding: 15px 18px;
    }
    .join
    {
        padding: 10px 15px;
        font-size: 15px;
    }
    select
    {
        padding: 8px 10px;
        font-size: 10px;
    }
    .sceau
    {
        width: 35px;
        height: 35px;
        margin-right: 30%;
        margin-left: 70%;
    }
}

@media only screen and (max-width: 800px) and (min-width: 600px){
    .title h1
    {
        font-size: 35px;
    }
    .title p
    {
        font-size: 25px;
    }
    input
    {
        font-size: 25px;
        width: auto;
    }
    form > div label, form > div p 
    {
        font-size: 20px;
    }
    input[type="date"]
    {
        font-size: 20px;
    }
    input[type="submit"]
    {
        font-size: 25px;
        padding: 12px 14px;
    }
    .join
    {
        padding: 12px 25px;
        font-size: 25px;
    }
    select
    {
        padding: 12px 25px;
        font-size: 25px;
    }
    .sceau
    {
        width: 50px;
        height: 50px;
        margin-right: 30%;
        margin-left: 70%;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 800px){
    .title h1
    {
        font-size: 45px;
    }
    .title p
    {
        font-size: 35px;
    }
    input
    {
        font-size: 25px;
        width: auto;
    }
    form > div label, form > div p 
    {
        font-size: 25px;
    }
    input[type="date"]
    {
        font-size: 30px;
    }
    input[type="submit"]
    {
        font-size: 30px;
        padding: 14px 18px;
    }
    .join
    {
        padding: 14px 18px;
        font-size: 30px;
    }
    select
    {
        padding: 14px 18px;
        font-size: 20px;
    }
    .sceau
    {
        width: 60px;
        height: 60px;
        margin-right: 30%;
        margin-left: 70%;
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1000px){
    .title h1
    {
        font-size: 60px;
    }
    .title p
    {
        font-size: 45px;
    }
}